---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font-family: "Prompt", 'Montserrat', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Montserrat Subrayada', sans-serif;
// font-family: 'Lora', serif;
// font-family: 'Inconsolata', monospace;
// font-family: 'Prompt', sans-serif;
// font-family: 'Lato', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
//normal: 400
//bold: 700
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$blue: #00cdff;
$cantaloupe: #ffcaa9;
$pink: #f543ff;
$sand: #f0eeef;

$gray-light: #e5e5e6;
$gray-dark: darken($gray-light, 35%);
$gray: darken($gray-light, 15%);

$text-color:       #444;
$background-color: $sand;
$brand-color:      $blue;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        48em !default;
$on-desktop:       62em !default;
$on-hd:            75em !default;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "flexbox",
  "base",
  "layout",
  "syntax-highlighting"
;
