@import "mixins";



// Flexbox elements
.align-items-top      {@include align-items-start;}
.align-items-bottom   {@include align-items-end;}
.align-items-middle   {@include align-items-center;}
.align-items-basleine {@include align-items-baseline;}
.align-items-stretch  {@include align-items-stretch;}

.align-items-start    {@include justify-start;}
.align-items-end      {@include justify-end;}
.align-items-center   {@include justify-center;}
.align-items-between  {@include justify-space-between;}
.align-items-around   {@include justify-space-around;}

.align-content-start          {@include align-content-start;}
.align-content-end            {@include align-content-end;}
.align-content-center         {@include align-content-center;}
.align-content-stretch        {@include align-content-stretch;}
.align-content-space-between  {@include align-content-space-between;}
.align-content-space-around   {@include align-content-space-around;}

.item-align-auto      {@include align-self-auto;}
.item-align-start     {@include align-self-start;}
.item-align-end       {@include align-self-end;}
.item-align-center    {@include align-self-center;}
.item-align-baseline  {@include align-self-baseline;}
.item-align-stretch   {@include align-self-stretch;}

.row    {@include row;}
.column {@include column;}

.row.row-wrap {@include make-wrap;}
.col.col-wrap {@include make-wrap;}

.row.row-reverse {@include row-reverse;}
.col.row-reverse {@include column-reverse;}

.row.center-content {
  @include align-items-center;
  @include justify-center;
}

// ------------------------

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12  {@include col-style;}
//
.col-xs     {@include col-width;}
//
.col-xs-1   {@include one-col;}
.col-xs-2   {@include two-col;}
.col-xs-3   {@include three-col;}
.col-xs-4   {@include four-col;}
.col-xs-5   {@include five-col;}
.col-xs-6   {@include six-col;}
.col-xs-7   {@include seven-col;}
.col-xs-8   {@include eight-col;}
.col-xs-9   {@include nine-col;}
.col-xs-10  {@include ten-col;}
.col-xs-11  {@include eleven-col;}
.col-xs-12  {@include twelve-col;}
//
.col-xs-offset-1  {margin-left: 8.333%;}
.col-xs-offset-2  {margin-left: 16.667%;}
.col-xs-offset-3  {margin-left: 25%;}
.col-xs-offset-4  {margin-left: 33.333%;}
.col-xs-offset-5  {margin-left: 41.667%;}
.col-xs-offset-6  {margin-left: 50%;}
.col-xs-offset-7  {margin-left: 58.333%;}
.col-xs-offset-8  {margin-left: 66.667%;}
.col-xs-offset-9  {margin-left: 75%;}
.col-xs-offset-10 {margin-left: 83.333%;}
.col-xs-offset-11 {margin-left: 91.667%;}

// ------------------------

@include media-query($on-palm) {

  .container {width: 34rem;}
  //
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12  {@include col-style;}
  //
  .col-sm     {@include col-width;}
  //
  .col-sm-1   {@include one-col;}
  .col-sm-2   {@include two-col;}
  .col-sm-3   {@include three-col;}
  .col-sm-4   {@include four-col;}
  .col-sm-5   {@include five-col;}
  .col-sm-6   {@include six-col;}
  .col-sm-7   {@include seven-col;}
  .col-sm-8   {@include eight-col;}
  .col-sm-9   {@include nine-col;}
  .col-sm-10  {@include ten-col;}
  .col-sm-11  {@include eleven-col;}
  .col-sm-12  {@include twelve-col;}
  //
  .col-sm-offset-1  {margin-left: 8.333%;}
  .col-sm-offset-2  {margin-left: 16.667%;}
  .col-sm-offset-3  {margin-left: 25%;}
  .col-sm-offset-4  {margin-left: 33.333%;}
  .col-sm-offset-5  {margin-left: 41.667%;}
  .col-sm-offset-6  {margin-left: 50%;}
  .col-sm-offset-7  {margin-left: 58.333%;}
  .col-sm-offset-8  {margin-left: 66.667%;}
  .col-sm-offset-9  {margin-left: 75%;}
  .col-sm-offset-10 {margin-left: 83.333%;}
  .col-sm-offset-11 {margin-left: 91.667%;}
}

// ------------------------

@include media-query($on-laptop) {

  .container {width: 46rem;}

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12  {@include col-style;}

  .col-md     {@include col-width;}

  .col-md-1   {@include one-col;}
  .col-md-2   {@include two-col;}
  .col-md-3   {@include three-col;}
  .col-md-4   {@include four-col;}
  .col-md-5   {@include five-col;}
  .col-md-6   {@include six-col;}
  .col-md-7   {@include seven-col;}
  .col-md-8   {@include eight-col;}
  .col-md-9   {@include nine-col;}
  .col-md-10  {@include ten-col;}
  .col-md-11  {@include eleven-col;}
  .col-md-12  {@include twelve-col;}

  .col-md-offset-1  {margin-left: 8.333%;}
  .col-md-offset-2  {margin-left: 16.667%;}
  .col-md-offset-3  {margin-left: 25%;}
  .col-md-offset-4  {margin-left: 33.333%;}
  .col-md-offset-5  {margin-left: 41.667%;}
  .col-md-offset-6  {margin-left: 50%;}
  .col-md-offset-7  {margin-left: 58.333%;}
  .col-md-offset-8  {margin-left: 66.667%;}
  .col-md-offset-9  {margin-left: 75%;}
  .col-md-offset-10 {margin-left: 83.333%;}
  .col-md-offset-11 {margin-left: 91.667%;}
}

// ------------------------

@include media-query($on-desktop) {

  .container {width: 61rem;}

  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12  {@include col-style;}

  .col-lg     {@include col-width;}
  .col-lg-1   {@include one-col;}
  .col-lg-2   {@include two-col;}
  .col-lg-3   {@include three-col;}
  .col-lg-4   {@include four-col;}
  .col-lg-5   {@include five-col;}
  .col-lg-6   {@include six-col;}
  .col-lg-7   {@include seven-col;}
  .col-lg-8   {@include eight-col;}
  .col-lg-9   {@include nine-col;}
  .col-lg-10  {@include ten-col;}
  .col-lg-11  {@include eleven-col;}
  .col-lg-12  {@include twelve-col;}

  .col-lg-offset-1  {margin-left: 8.333%;}
  .col-lg-offset-2  {margin-left: 16.667%;}
  .col-lg-offset-3  {margin-left: 25%;}
  .col-lg-offset-4  {margin-left: 33.333%;}
  .col-lg-offset-5  {margin-left: 41.667%;}
  .col-lg-offset-6  {margin-left: 50%;}
  .col-lg-offset-7  {margin-left: 58.333%;}
  .col-lg-offset-8  {margin-left: 66.667%;}
  .col-lg-offset-9  {margin-left: 75%;}
  .col-lg-offset-10 {margin-left: 83.333%;}
  .col-lg-offset-11 {margin-left: 91.667%;}
}

// ------------------------

@include media-query($on-hd) {

  .container {width: 71rem;}

  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12  {@include col-style;}

  .col-xl     {@include col-width;}
  .col-xl-1   {@include one-col;}
  .col-xl-2   {@include two-col;}
  .col-xl-3   {@include three-col;}
  .col-xl-4   {@include four-col;}
  .col-xl-5   {@include five-col;}
  .col-xl-6   {@include six-col;}
  .col-xl-7   {@include seven-col;}
  .col-xl-8   {@include eight-col;}
  .col-xl-9   {@include nine-col;}
  .col-xl-10  {@include ten-col;}
  .col-xl-11  {@include eleven-col;}
  .col-xl-12  {@include twelve-col;}

  .col-xl-offset-1  {margin-left: 8.333%;}
  .col-xl-offset-2  {margin-left: 16.667%;}
  .col-xl-offset-3  {margin-left: 25%;}
  .col-xl-offset-4  {margin-left: 33.333%;}
  .col-xl-offset-5  {margin-left: 41.667%;}
  .col-xl-offset-6  {margin-left: 50%;}
  .col-xl-offset-7  {margin-left: 58.333%;}
  .col-xl-offset-8  {margin-left: 66.667%;}
  .col-xl-offset-9  {margin-left: 75%;}
  .col-xl-offset-10 {margin-left: 83.333%;}
  .col-xl-offset-11 {margin-left: 91.667%;}
}
